/* =============================

    GENERAL STYLES

=============================*/

* {
	box-sizing: border-box;
}

/* Single-direction margin declaration to establish vertical rhythm. */
h1,h2,h3,
ul,ol,
p,
img {
    margin-bottom: 1.5rem;
}

body {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #444349;
}

.locations,
.program,
.gifts,
.faq,
.contact {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

h1,
h2 {
  font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .25s ease-in-out;
}

/*=========================


		HEADER STYLES

=========================*/

.cover {
	background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat 77% center/cover;
	display: table;
	height: 100vh;
	width: 100vw;
	text-align: center;
	color: hsla(0,0%,100%,.9);
}

.main-wrapper {
	display: flex;
	justify-content: center;
	padding: 35vh;
	align-items: center;
}

.main-text{
	font-size: 2.22rem;
	color: hsla(0,0%,100%,.9);
}

.tagline {
	font-size: 1.4rem;
	padding: 1.5rem;
	border-bottom: 1px solid;
}

.date {
	font-size: 1.25rem;
	letter-spacing: .25rem;
	border-top: 1px solid;
	border-bottom: 1px solid;
}